html{
    background-color:darkgray;
   margin: 0px;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/brasil.png") ;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
    



body{
    /* margin: 0px;
    background-image: url("../img/brasil.png") ;
    background-position: 50% 50%;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;   */
}

.in{
    position: fixed;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.in ul a{
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    background-color: #7bff00;
    transition: 0.5s ease-in-out;
    padding: 10px 40px;
    font-size: 1.5em;
}

.in ul  a:hover{
    background-color: rgb(230, 255, 1);
    color: rgb(0, 0, 0);
}


.inicio{
    /* background-color: rgb(255, 255, 255); */
}

.inicio h3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
}

.botoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes a{
    display: inline-block;
    margin: 10px 20px;
    margin-top: 0px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    background-color: #7bff00;
    padding: 10px 40px;
    font-size: 1.0em;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.473); 
    border:  5px solid greenyellow; 
    margin-top: 10px;
   
}

.titulo h1{
    font-size: 2.0em;
    color: rgb(255, 255, 255);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.titulo p{
    font-size: 1.0em; 
    display: flex;
    color: #ffffff;
}

.militar{
    background-color: rgba(0, 0, 0, 0.473); 
    border:  5px solid greenyellow;
    margin-top: 10px;
}

.militar h2{
    font-size: 2.0em;
    color: rgb(255, 255, 255);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.militar p{
    font-size: 1.5em; 
    display: flex;
    color: #ffffff;
}
.militar a{
    color: greenyellow;

}

.militar h1{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    padding: 0px 30px;
}

.cnh{
    background-color: rgba(0, 0, 0, 0.473); 
    border:  5px solid   greenyellow;
    margin-top: 10px;
}

.cnh h1{
    font-size: 2.0em;
    color: rgb(255, 255, 255);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.cnh p{
    font-size: 1.0em; 
    display: flex;
    color: #ffffff;
}

.trabalho{
    background-color: rgba(0, 0, 0, 0.473); 
    border:  5px solid #7bff00;
    margin-top: 10px;
}

.trabalho h1{
    font-size: 2.0em;
    color: rgb(255, 255, 255);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.trabalho p{
    font-size: 1.0em; 
    display: flex;
    color: #ffffff;
}

