html{
    background-color:darkgray;
    margin: 20px;
    border: 7px solid green;
}

.in{
    position: fixed;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.in ul a{
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    background-color: #7bff00;
    transition: 0.5s ease-in-out;
    padding: 10px 40px;
    font-size: 1.5em;
}

.in ul  a:hover{
    background-color: rgb(230, 255, 1);
    color: rgb(0, 0, 0);
}


.inicio{
    background-color: rgb(255, 255, 255);
}

.inicio h3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 3.0em;
}

.botoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes a{
    display: inline-block;
    margin: 10px 20px;
    margin-top: 0px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    background-color: #7bff00;
    padding: 10px 40px;
    font-size: 1.0em;
}

.titulo{
    background-color: rgb(255, 255, 255);
    width: 100%;
   
}

.titulo h1{
    font-size: 2.0em;
    color: rgb(0, 0, 0);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.titulo p{
    font-size: 1.0em; 
    display: flex;
}

.militar{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.militar h1{
    font-size: 2.0em;
    color: rgb(0, 0, 0);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.militar p{
    font-size: 1.0em; 
    display: flex;
    color: #000000;
}

.cnh{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.cnh h1{
    font-size: 2.0em;
    color: rgb(0, 0, 0);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.cnh p{
    font-size: 1.0em; 
    display: flex;
    color: #000000;
}

.trabalho{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.trabalho h1{
    font-size: 2.0em;
    color: rgb(0, 0, 0);
     width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.trabalho p{
    font-size: 1.0em; 
    display: flex;
    color: #000000;
}

